main .btnAdd {
  background-color: #509cdb;
  color: #fff;
  width: 127px;
  height: 42px;
  font-size: 14px;
  margin-right: 130px;
  border: none;
  border-radius: 4px;
  outline: none;
}
main .btnAdd:hover {
  opacity: 0.8;
}
/* student-content */
main #noStudentContent {
  display: none;
}
main .text {
  width: 248px;
  height: 42px;
  line-height: 42px;
  margin-left: 130px;
}
main .text span:nth-child(2),
main .text span:nth-child(3) {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
}
main .text_color {
  color: #7749f8;
  font-size: 16px;
  font-weight: 500;
}
main #searchStudent {
  width: 1018px;
  margin: 0 auto;
  background-color: #fcfafa;
  border: none;
  padding-left: 40px;
}
main #searchStudent::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #8a8a8a;
}
main #searchNameStudent {
  width: 350px;
  height: 40px;
}
main .fa-search {
  position: relative;
  left: 135px;
  top: 30px;
}
main .image {
  width: 700px;
  height: 350px;
  margin: 0 auto;
}
#searchBtn {
  background-color: #00a3ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 40px;
  padding: 10px;
  margin-left: 10px;
  line-height: 20px;
}
#searchBtn:hover {
  opacity: 0.8;
}
.sortStudent {
  width: 100px;
  height: 40px;
  line-height: 40px;
}
#sortStudent {
  height: 40px;
}
main h2 {
  font-size: 28px;
  text-decoration: underline;
}
table {
  width: 1090px !important;
  margin: 0 auto;
}

/* form */
form #form-radio {
  text-align: center;
  width: 170px;
  border: 2px dashed #509cdb;
}

.modal-body button {
  width: 200px;
  height: 50px;
  background-color: #00a3ff;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.modal-body button:hover {
  opacity: 0.8;
}
form label::after {
  content: "*";
  color: red;
}
#comment::after,
#form-radio label::after {
  content: "";
}
/* màu phân trang */
.page-item.active .page-link {
  background-color: green;
}
